.foo {
  width: 32px;
  height: 60px;
}
.bar {
  padding: 0 12px;
  background: url("data:image/png;base64,im7v+AAAAGXRFWHRTb2Z0d2FyZ6PX5px/");
}
.foo {
  width: 100px;
}
/*目前没法处理 "\exxx"字符串  */
.el-icon-ice-cream-round:before {   
  content: "\e6a0";
  content: 😂;
}
 
@media screen and (max-width: 500px) {
  .foo {
    width: 100px;
  }
}
@container (max-width: 780px) {
  p {
   font-size: 20px;
 }
}
.foo {
  width: 32px;
  height: vh(60);
}
.foo {
  border-top: 1px solid #aaa;
  margin-left: -65px;
}
.foo {
  width: 32px;
  height: -1px;
  height: vh(1);
  height: vh(-1);
  margin-top: vh(-1);
  margin-left: vh(-20);
}
 